/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
    font-family: 'Montserrat', sans-serif;
     }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }
  b, strong { font-weight: 700; }
  i { font-style: italic; }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }

img.alignright {
  float: right;
  margin-left: 30px;
}
img.alignleft {
  float: left;
  margin-right: 30px;
}
img.aligncenter {
  margin: 0 auto;
  display: block;
}
.alignnone {
    margin: 15px 20px 30px 0;
}
.gallery {
display: block;
clear: both;
overflow: hidden;
margin: 0 auto;
}
.gallery .gallery-row {
display:block;
clear: both;
overflow: hidden;
margin: 0;
}
.gallery .gallery-item {
overflow: hidden;
float: left;
margin: 0;
text-align: center;
list-style: none;
padding: 0;
position: absolute
bottom: 0
}
.gallery .gallery-item img, .gallery .gallery-item img.thumbnail {
max-width: 89%;
height: auto;
padding: 1%;
margin: 0 auto;
}
.gallery-caption {
margin-left: 0;
}
figcaption {
  text-align: center;
  font-style: italic;
  font-size: 14px;
}

/*** STYLES BEGIN ***/

header {
  padding: 0 0 90px 0;
}



header #logo {
  float: left;
  background-image: url('img/logo.png');
  width: 149px;
  height: 162px;
}

header nav {
  float: right;
  margin: 140px 0 0 0;
}

header nav ul li {
  margin: 0 0 0 36px;
  float: left;
  padding: 0 2px 7px 2px;
  box-sizing:border-box;
}

header nav ul li:first-of-type {
  margin: 0;
}

header nav ul li.current-menu-item {
  border-bottom: 2px solid #6DB2C2;
}

header nav ul li .nav-overlay {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color:#6DB2C2;
  bottom: 0;
  left:-100%;
}

header nav ul li.current-menu-item .nav-overlay {
  display: none;
}

header nav ul li a {
  font-size: 16px;
  color: #444444;
  text-transform: uppercase;
}

header h1 {
  font-size: 136px;
  color: #575859;
  letter-spacing: -7px;
  float: left;
  margin-left: -12px;
  margin-top: 260px;
}

header .page-subtitle {
  font-size: 16px;
  font-weight: 700;
  float: left;
}

header .separator {
  height: 2px;
  width: 165px;
  background-color: #6DB2C2;
  float: left;
  margin: 45px 0;
}

header p {
  font-size: 16px;
  color: #575859;
  float: left;
  margin-bottom: 20px;
}

/***** Sections *****/

section {
  background-size: cover;
  padding: 100px 0;
}

section.white-section {
  color: #ffffff;
  min-height: 635px;
}

section.blue-section {
  color: #ffffff;
  min-height: 635px;
  background-color: #76C5D5;
  padding-bottom: 0;
}

.section-title {
  font-size:64px;
  margin-bottom: 60px;
  letter-spacing: -2px;
}

.section-title.white {
  color: #ffffff;
}

.section-title.grey {
  color: #DDDDDD;
}

section ul {
  list-style: disc;
  margin-left: 20px;
}

section ul li {
  font-size: 16px;
  margin-bottom: 3px;
}

#experience h3 {
  font-size: 26px;
  text-align: center;
  color: #76C5D5;
  margin-bottom: 25px;
  text-transform: uppercase;
}

#experience .image-holder {
  width: 100%;
  height: 195px;
  display: table;
  vertical-align: baseline;
  margin-bottom: 40px;
}

#experience .image-holder .image-holder-cell {
  vertical-align: bottom;
  display:table-cell;
  text-align: center;
}

#experience .image-holder img {
  
}

#experience p {
  color: #575859;
  text-align:center;
  margin-bottom: 45px;
}

#experience .col-lg-4 {
  text-align: center;
}

section.dark-section {
  background-color: #575859;
  color: #ffffff;
}

section p {
  margin-bottom: 20px;
}

section .offset-right {
  position: relative;
  right:-45px;
}

/***** Footer *****/

footer {
  background-color: #76C5D5;
  padding: 60px 0 55px 0;
  overflow: hidden;
  color: #ffffff;
}

#footer-logo {
  float: left;
  margin-right: 30px;
  position: relative;
  top:-8px;
}

footer p {
  float: left;
  margin-bottom: 3px;
  margin-right: 80px;
}

footer a {
  color: #ffffff;
}

footer .social-link {
  text-transform: uppercase;
  margin-bottom: 5px;
  float: left;
}

footer .col-lg-3 .col-lg-6:nth-of-type(2) a {
  float: right;
  margin-right: 20px;
}


/***** Buttons *****/

.btn {
  font-size: 14px;
  padding: 10px 23px;
  display: inline-block;
}

.btn.grey {
  background-color: #57585A;
  color: #ffffff;
}


/***** Slider custom styles *****/

.flexslider {
  background-color:transparent;
  margin: 0;
  overflow: visible;
}

.flexslider .slides li {
  margin-bottom: 0;
}

#about-slider img {
  max-width: 500px;
  float: left;
}

#about-slider .flex-direction-nav .flex-prev, #about-slider .flex-direction-nav .flex-next {
  width: 46px;
  height: 86px;
  background-repeat: no-repeat;
  text-indent: 9999px;
}

#about-slider .flex-direction-nav {
  position: absolute;
  bottom: 25%;
  left:0;
  right: 0;
}

#about-slider .flex-direction-nav .flex-prev {
  background-image: url('img/slider-prev.png');
  left:-15%;
  bottom: 15%;
}

#about-slider .flex-direction-nav .flex-next {
  background-image: url('img/slider-next.png');
  right:25%;
  bottom: 15%;
}

#about-slider .flex-disabled {
  opacity: 1 !important;
}

#about-slider .slide-content {
  width: 340px;
  float: right;
}

#about-slider h4 {
  font-size: 38px;
  margin-bottom: 7px;
}

#about-slider h5 {
  font-size: 14px;
  text-transform: uppercase;
}

#about-slider .separator {
  width: 116px;
  height: 2px;
  background-color: #ffffff;
  margin: 20px 0;
}

#about-slider p {
  font-size: 14px;
}

#slider-nav {
  margin-top: 50px;
}

#slider-nav ul {
  list-style: none;
  margin: 0;
}

#slider-nav ul li {
  margin: 0 25px 10px 0;
  float: left;
  font-size: 14px;
  cursor: pointer;
  padding: 5px 8px;
}

#slider-nav ul li.flex-active {
  color: #76C5D5;
  background-color: #ffffff;
}

.slider-section .row:nth-of-type(2) {
  margin-top: 70px;
}

/***** Wordpress classes helper *****/

body.home .dark-section {
  padding: 150px 0 0 0;
}

body.page header h1 {
  font-size: 96px;
  width: 100%;
}

body.page.about header {
  background-size: cover;
}

body.page.graphics header {

  background-size: cover;
}

body.page header .page-subtitle {
  clear:left;
  margin-bottom: 90px;
  color: #ffffff;
  line-height: 1.25;
}

body.page header nav ul li a {
  color: #ffffff;
}

body.page #logo {
  background-image: url('img/logo-white.png');
  background-repeat: no-repeat;
}

body.page header h1, body.page header p {
  color: #ffffff;
}

body.page.about .dark-section {
  padding-bottom: 0;
}

body.page.about .dark-section img {
  margin-top: 80px;
}

